<ion-header [translucent]="true">
  <ion-toolbar color="bar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
     <p> {{content}}</p>
     <ion-card id="mapContainer"></ion-card>

  </div>

</ion-content>
